/* $primary-bg-color: #f9f9f9;
$primary-text-color: #212121;
$secondary-text-color: #777777;
$primary-color: #00e676;
$secondary-color: #00c853;
$gray: #bdbdbd;
$dark-gray: #6d6d6d; */

$primary-color: #55a5ff;
$secondary-color: #0a5ebd;
$light: #eaf5ff;
$primary-text-color: #212121;
$secondary-text-color: #777777;
$light-gray: #f9f9f9;
$other1: #a9c6f5;
$other2: #778bd9;