$primary-bg-color: #f9f9f9;
$primary-text-color: #212121;
$secondary-text-color: #777777;
$primary-color: #00e676;
$secondary-color: #00c853;
$gray: #bdbdbd;
$light-gray: #f9f9f9;
$dark-gray: #6d6d6d;